<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="/assets/img/guilherme.jpeg" alt="Imagem de capa do card">
    </div>
    
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">Guilherme Cano</h5>
      <p class="card-text text-center text-monospace"> Aluno de desenvolvimento Web full stack na Generation Brasil </p>
      
      <a href="https://www.linkedin.com/in/guilherme-cano-21187b12b/" class="btn btn-outline-info mb-3 d-flex justify-content-center"
      target="_blank">Linkedin</a>

      <a href="https://github.com/STyGuilhermeCano" class="btn btn-outline-dark d-flex justify-content-center"
      target="_blank">GitHub</a>
    </div>
  </div>
